.leaflet-control-layers-toggle{ 
    width:auto;
    background-position:3px 50% ;
    padding:3px;
    padding-left:36px;
    text-decoration:none;
    line-height:20px;

}

body {
	font-family: 'Gotham-Light', sans-serif;
}
h2 {
	margin-bottom: 1px;
}
.subtitle{
	font-size: 10px;
}
.dashboard {
	color:#000;
}
.spacersm {
	margin-top:20px;
}
.row {
	border-bottom-style:solid;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
}
.line {
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	border-bottom-width:1px;
}

.fill {
    height: 100%;
    min-height: 100%;
}


.legends1 {
    line-height: 12px;
    width: 140px;
    color: #555;
    background-color:#ffffff;
    padding:5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	opacity: 0.85;
}
.legends1 i {
    width: 18px;
    height: 12px;
    float: left;
    margin-right: 6px;
    opacity: 0.7;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.legends2 {
    line-height: 12px;
    width: 140px;
    color: #555;
    background-color:#ffffff;
    padding:5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	opacity: 0.85;
}
.legends2 i {
    width: 18px;
    height: 12px;
    float: left;
    margin-right: 6px;
    opacity: 0.7;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.legends3 {
    line-height: 12px;
    width: 140px;
    color: #555;
    background-color:#ffffff;
    padding:5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	opacity: 0.85;
}

.legends3 i {
    width: 18px;
    height: 12px;
    float: left;
    margin-right: 6px;
    opacity: 0.7;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}



p {
    padding-left:10px;
}

h3 {
    padding-left:20px;
}
